:root {
  --primary-color: #000000;
  --secondary-color: #3ce244;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

header {
  height: 10vh;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin: 0.2rem;
  padding: 0.3rem;
}

.logo img {
  width: 80px;
  height: 60px;
}

.main-nav {
  display: flex;
}

.main-nav__item {
  list-style: none;
  margin: 0.5rem;
  font-size: 1.4rem;
  text-align: center;
}

.main-nav__item a {
  color: #fff;
  font-size: 1.2rem;
  padding: 5px;
  border-radius: 2px;
  text-decoration: none;
}

.main-nav__item a:hover {
  color: var(--secondary-color);
}

.element {
  min-height: 20vh;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 10px;
}

.c1 {
  background-image: url("./images/messyhouse-cleanedhouse.jpg");
  background-size: cover;
  background-position: top center;
  text-align: center;
  min-height: 30vh;

  font-size: 2rem;
  font-family: "Oswald", Helvetica, Arial, sans-serif;
}

.c1-background {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  min-height: 30vh;
}

.first-view {
  margin: auto;
  padding: auto;
}

.first-view img {
  width: 180px;
  height: 150px;
}

.btn-contact {
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 10px;
}

.c2 {
  background-image: url("./images/first-note-background.jpg");
  background-size: cover;
  background-position: top center;
  text-align: center;
  min-height: 20vh;
}

.transparent {
  background-color: rgba(200, 200, 200, 0.2);
  border-radius: 10px;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
}

.c1 p,
.c2 p,
.c3 p,
.c4 p {
  font-size: 1.8rem;
}

.c3 {
  background-image: url("./images/power-washing.jpg");
  background-size: cover;
  background-position: top center;
  text-align: center;
  height: inherit;
}

.c4 {
  background-image: url("./images/trailer-rental.jpg");
  background-size: cover;
  background-position: top center;
  text-align: center;
  height: inherit;
}

footer {
  background-color: var(--primary-color);
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-media,
.info {
  padding: 1.5rem;
  color: #fff;
}

.info-text {
  padding: 15px;
  font-size: 1.4rem;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: var(--secondary-color);
}

/* Style all font awesome icons */
.fa {
  padding: 15px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: var(--secondary-color);
  color: var(--primary-color);
}
