* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.parent-box {
  display: inline-block;
  height: 504px;
  width: 324px;
}

.box {
  position: absolute;
  margin: 0 auto;
  background-color: orange;
  height: 500px;
  width: 320px;
}

#title-box {
  height: 5rem;
  width: 20rem;
  position: relative;
  background-color: rgb(255, 120, 0);
  text-align: center;
  border-radius: 10px;
}

#title-box {
  padding: 1.2rem 0;
}

#desc-box {
  top: 2rem;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(255, 120, 0);
}

#desc-box p {
  position: relative;
  text-align: center;
  font-size: 1.5rem;
}

.character-photo {
  display: block;
  top: 4rem;
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.container-data{
  display: flex;
}

.container-mini-box{
  padding: 11.5px 0;
  border-radius: 10px;
  margin: auto;
  background-color: rgb(255, 190, 0);
  width: 40%;
  height: 50px;
  text-align: center;
  font-size: 1rem;
}