/* Esto deberia venir en todos los css para empezar a utilizar rem como pixeles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Al poner esto cada rem vale 10 px */
html {
  font-size: 62.5%;
}

p {
  font-size: 1.6rem;
}

main div {
  font-size: 1.6rem;
}
